*{
    margin: 0px;
    font-family: Helvetica, sans-serif, Arial;

    --cp1: rgb(30, 41, 49);
    --cp2: rgb(139, 69, 19);
    --cp3: rgb(112, 128, 144);

    --cs1: rgb(245, 245, 245);
    --cs2: rgb(210, 180, 140);
    --cs3: rgb(34, 139, 34);

    --ct1: rgb(54, 69, 79);
    --ct2: rgb(184, 115, 51);
    color: var(--cs1);
    line-height: 1.5;
}

html{
    background: var(--cs1);
}

body{
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

nav{
    display: flex;
    align-items: center;
    justify-content:space-around;
    background: var(--cp1);
}

footer{
    display: flex;
    align-items: center;
    justify-content:center;
    background: var(--cp1);
    padding: 1.5rem;
}

a{
    text-decoration: none;
    color: var(--cs3);
}

button{ 
    margin: 1rem;
    padding: 0.8rem 1.2rem;
    border-style: none;
    background-color: var(--cp1);
    color: var(--cs1);
    font-size: 1.3rem;
    border-radius: 10px;
}

h1{
    font-size: 1.5rem;
}

button:hover{
    color: var(--cp1);
    background-color: var(--cs1)
}

#content{
    display: flex;
    flex-direction: column;
    background-color: var(--cp1);
    align-self: center;
    justify-content: center;
    width: min(100vw,860px);
    border-radius: 25px;
    padding: 10px;
}

.welcome{

}

#content>div{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2vh;
}
p{
    font-size: 1.1rem;
}

.restaurant{
    max-width: 100%;
    height: auto;
}

.plate{
    max-width: 50%;
    height: auto;
    border-radius: 20px;
}

.card{
    border-bottom: 10px var(--cs3) solid;
    border-radius: 10px;
    
}

.action{
    background-color: var(--cs3);
}
